<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.add.toeic">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AboutUsActivity"
            android:label="@string/activity_title_about_us" />
        <activity
            android:name=".activity.PrivacyPolicyActivity"
            android:label="@string/activity_title_privacy_policy" />
        <activity
            android:name=".activity.BookDetailsActivity"
            android:label="@string/activity_title_privacy_policy" />
        <activity
            android:name=".activity.TopicItemActivity"
            android:label="@string/title_activity_topic_item"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.DetailWordActivity"
            android:label="@string/title_activity_detail_word"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name=".recievers.UnlockedScreenReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="android.app.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.UnlockedScreenService"
            android:exported="false"
            android:stopWithTask="false" />

        <activity
            android:name=".activity.LockScreenActivity"
            android:configChanges="orientation|touchscreen|screenLayout|uiMode|layoutDirection|screenSize"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.PracticeToiecActivity"
            android:label="@string/title_activity_practice_toiec" />
    </application>

</manifest>
